.sidenav---sidenav---_2tBP{
    top: 60px;
    height: 100%;
}

.request-micro .sidenav---sidenav---_2tBP{
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 1006;
    min-width: 64px;
    left: 88%;
}

.request-micro 
.sidenav---sidenav-nav---3tvij > 
.sidenav---sidenav-navitem---uwIJ- > 
.sidenav---navitem---9uL5T 
.sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f
{
    visibility: visible;
    opacity: 100%;
} 